<form #form="ngForm" (ngSubmit)="login(form)">
    <div class="row mb-3">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" name="email" #emailInput="ngModel" required email ngModel class="form-control" id="inputEmail3">
      </div>
      <ng-container *ngIf="emailInput.touched">
        <div *ngIf="emailInput.errors?.['required']" style="color: crimson;">Email is required!</div>
        <div *ngIf="emailInput.errors?.['email']" style="color: crimson;">Email is invalid!</div>
        <div *ngIf="emailInput.errors?.['invalid']" style="color: crimson;">Wrong email or password!</div>
      </ng-container>
    </div>
    <div class="row mb-3">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input type="password" name="password" #passwordInput="ngModel" required ngModel class="form-control" id="inputPassword3">
      </div>
      <ng-container *ngIf="passwordInput.touched">
        <div *ngIf="passwordInput.errors?.['required']" style="color: crimson;">Password is required!</div>
      </ng-container>
    </div>

    <button type="submit" class="btn btn-primary">Sign in</button>
  </form>